In [1]:
import numpy as np
import pandas as pd

In [2]:
movies_df = pd.read_csv("imdb_movies_global.csv")
movies_df

C:\Users\HPS\anaconda3\envs\pythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,imdb_title_id,title,year_mv,duration,genre_1,genre_2,genre_3,country_1,country_2,country_3,country_4,country_5,lang_1,lang_2,lang_3,lang_4,lang_5,avg_vote_f
0,tt0000574,The Story of the Kelly Gang,1906,70,Biography,Crime,Drama,Australia,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,6.1
1,tt0001892,Den sorte drøm,1911,53,Drama,NaN,NaN,Germany,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.8
2,tt0002101,Cleopatra,1912,100,Drama,History,NaN,USA,NaN,NaN,NaN,NaN,English,NaN,NaN,NaN,NaN,5.2
3,tt0002452,Independenta Romaniei,1912,120,History,War,NaN,Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7
4,tt0002461,Richard III,1912,55,Drama,NaN,NaN,France,USA,NaN,NaN,NaN,English,NaN,NaN,NaN,NaN,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86699,tt9905412,Ottam,2019,120,Drama,NaN,NaN,India,NaN,NaN,NaN,NaN,Malayalam,NaN,NaN,NaN,NaN,7.4
86700,tt9905462,Pengalila,2019,111,Drama,NaN,NaN,India,NaN,NaN,NaN,NaN,Malayalam,NaN,NaN,NaN,NaN,8.8
86701,tt9906644,Manoharam,2019,122,Comedy,Drama,NaN,India,NaN,NaN,NaN,NaN,Malayalam,NaN,NaN,NaN,NaN,6.8
86702,tt9908390,Le lion,2020,95,Comedy,NaN,NaN,France,Belgium,NaN,NaN,NaN,French,NaN,NaN,NaN,NaN,5.3
86703,tt9911196,De Beentjes van Sint-Hildegard,2020,103,Comedy,Drama,NaN,Netherlands,NaN,NaN,NaN,NaN,German,Dutch,NaN,NaN,NaN,7.7

In [3]:
#secundary genres countries and lang had a space at the beginning
movies_df['genre_2'] = movies_df['genre_2'].str.strip()
movies_df['genre_3'] = movies_df['genre_3'].str.strip()
movies_df['country_2'] = movies_df['country_2'].str.strip()
movies_df['country_3'] = movies_df['country_3'].str.strip()
movies_df['country_4'] = movies_df['country_4'].str.strip()
movies_df['country_5'] = movies_df['country_5'].str.strip()
movies_df['lang_2'] = movies_df['lang_2'].str.strip()
movies_df['lang_3'] = movies_df['lang_3'].str.strip()
movies_df['lang_4'] = movies_df['lang_4'].str.strip()
movies_df['lang_5'] = movies_df['lang_5'].str.strip()
movies_df

,imdb_title_id,title,year_mv,duration,genre_1,genre_2,genre_3,country_1,country_2,country_3,country_4,country_5,lang_1,lang_2,lang_3,lang_4,lang_5,avg_vote_f
0,tt0000574,The Story of the Kelly Gang,1906,70,Biography,Crime,Drama,Australia,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,6.1
1,tt0001892,Den sorte drøm,1911,53,Drama,NaN,NaN,Germany,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.8
2,tt0002101,Cleopatra,1912,100,Drama,History,NaN,USA,NaN,NaN,NaN,NaN,English,NaN,NaN,NaN,NaN,5.2
3,tt0002452,Independenta Romaniei,1912,120,History,War,NaN,Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7
4,tt0002461,Richard III,1912,55,Drama,NaN,NaN,France,USA,NaN,NaN,NaN,English,NaN,NaN,NaN,NaN,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86699,tt9905412,Ottam,2019,120,Drama,NaN,NaN,India,NaN,NaN,NaN,NaN,Malayalam,NaN,NaN,NaN,NaN,7.4
86700,tt9905462,Pengalila,2019,111,Drama,NaN,NaN,India,NaN,NaN,NaN,NaN,Malayalam,NaN,NaN,NaN,NaN,8.8
86701,tt9906644,Manoharam,2019,122,Comedy,Drama,NaN,India,NaN,NaN,NaN,NaN,Malayalam,NaN,NaN,NaN,NaN,6.8
86702,tt9908390,Le lion,2020,95,Comedy,NaN,NaN,France,Belgium,NaN,NaN,NaN,French,NaN,NaN,NaN,NaN,5.3
86703,tt9911196,De Beentjes van Sint-Hildegard,2020,103,Comedy,Drama,NaN,Netherlands,NaN,NaN,NaN,NaN,German,Dutch,NaN,NaN,NaN,7.7

In [4]:
##transform year to float
movies_df = movies_df.replace("TV Movie 2019", "2019")
movies_df = movies_df.astype({"year_mv": float})

In [5]:
c1 = np.concatenate((movies_df['genre_1'].unique(), movies_df['genre_2'].unique()))
c2 = np.concatenate((c1, movies_df['genre_3'].unique()))
list = []
for i in range(len(c2)):
  if (not isinstance(c2[i], str)):
     list.append(i)
list
arr = np.delete(c2, list)
arr = np.unique(arr)
len(arr)

25

In [6]:
#origin1 = movies_df.pop('genre_1')
#origin2 = movies_df.pop('genre_2')
#origin3 = movies_df.pop('genre_3')
#dataset['USA'] = (origin == 1)*1.0
#dataset['Europe'] = (origin == 2)*1.0
#dataset['Japan'] = (origin == 3)*1.0
#dataset.tail()

In [7]:
#mask = df.my_channel > 20000
#column_name = 'my_channel'
#df.loc[mask, column_name] = 0
for e in arr:
    #mask = (movies_df['genre_1'] == e) or (movies_df['genre_2'] == e) or (movies_df['genre_3'] == e)
    mask = movies_df['genre_1'] == e
    mask2 = movies_df['genre_2'] == e
    mask3 = movies_df['genre_3'] == e
    column_name = 'genre_'+e
    movies_df.loc[mask , column_name] = 1
    movies_df.loc[mask2 , column_name] = .66666666
    movies_df.loc[mask3 , column_name] = .33333333
    #movies_df['genre_'+e] = (origin1 == e)*1.0

In [8]:
movies_df

,imdb_title_id,title,year_mv,duration,genre_1,genre_2,genre_3,country_1,country_2,country_3,...,genre_Musical,genre_Mystery,genre_News,genre_Reality-TV,genre_Romance,genre_Sci-Fi,genre_Sport,genre_Thriller,genre_War,genre_Western
0,tt0000574,The Story of the Kelly Gang,1906.0,70,Biography,Crime,Drama,Australia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0001892,Den sorte drøm,1911.0,53,Drama,NaN,NaN,Germany,Denmark,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0002101,Cleopatra,1912.0,100,Drama,History,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0002452,Independenta Romaniei,1912.0,120,History,War,NaN,Romania,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.666667,NaN
4,tt0002461,Richard III,1912.0,55,Drama,NaN,NaN,France,USA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86699,tt9905412,Ottam,2019.0,120,Drama,NaN,NaN,India,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86700,tt9905462,Pengalila,2019.0,111,Drama,NaN,NaN,India,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86701,tt9906644,Manoharam,2019.0,122,Comedy,Drama,NaN,India,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86702,tt9908390,Le lion,2020.0,95,Comedy,NaN,NaN,France,Belgium,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86703,tt9911196,De Beentjes van Sint-Hildegard,2020.0,103,Comedy,Drama,NaN,Netherlands,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#movies_df.loc[movies_df['genre_Visayan']==1]

In [10]:
c1 = np.concatenate((movies_df['country_1'].unique(), movies_df['country_2'].unique()))
c2 = np.concatenate((c1, movies_df['country_3'].unique()))
c3 = np.concatenate((c2, movies_df['country_4'].unique()))
c4 = np.concatenate((c3, movies_df['country_5'].unique()))
list = []
for i in range(len(c4)):
  if (not isinstance(c4[i], str)):
     list.append(i)
list
arr = np.delete(c4, list)
arr = np.unique(arr)
len(arr)

194

In [11]:
for e in arr:
    #mask = (movies_df['genre_1'] == e) or (movies_df['genre_2'] == e) or (movies_df['genre_3'] == e)
    mask = movies_df['country_1'] == e
    mask2 = movies_df['country_2'] == e
    mask3 = movies_df['country_3'] == e
    mask4 = movies_df['country_4'] == e
    mask5 = movies_df['country_5'] == e
    column_name = 'country_'+e
    movies_df.loc[mask , column_name] = 1
    movies_df.loc[mask2 , column_name] = .8
    movies_df.loc[mask3 , column_name] = .6
    movies_df.loc[mask4 , column_name] = .4
    movies_df.loc[mask5 , column_name] = .2

In [12]:
#movies_df.loc[movies_df['country_Zulu']==1]

In [13]:
c1 = np.concatenate((movies_df['lang_1'].unique(), movies_df['lang_2'].unique()))
c2 = np.concatenate((c1, movies_df['lang_3'].unique()))
c3 = np.concatenate((c2, movies_df['lang_4'].unique()))
#c4 = np.concatenate((c3, movies_df['lang_5'].unique()))
list = []
for i in range(len(c3)):
  if (not isinstance(c3[i], str)):
     list.append(i)
list
arr = np.delete(c3, list)
arr = np.unique(arr)
len(arr)
arr

array(['Abkhazian', 'Aboriginal', 'Acholi', 'Afrikaans', 'Akan',
       'Albanian', 'Algonquin', 'American Sign Language', 'Amharic',
       'Ancient (to 1453)', 'Apache languages', 'Arabic', 'Aragonese',
       'Aramaic', 'Arapaho', 'Armenian', 'Aromanian', 'Assamese',
       'Assyrian Neo-Aramaic', 'Athapascan languages',
       'Australian Sign Language', 'Awadhi', 'Aymara', 'Azerbaijani',
       'Bable', 'Balinese', 'Bambara', 'Basque', 'Belarusian', 'Bemba',
       'Bengali', 'Berber languages', 'Bhojpuri', 'Bicolano', 'Bosnian',
       'Brazilian Sign Language', 'Breton', 'British Sign Language',
       'Bulgarian', 'Burmese', 'Cantonese', 'Catalan',
       'Central American Indian languages', 'Chechen', 'Cheyenne',
       'Chinese', 'Cornish', 'Corsican', 'Cree', 'Creek', 'Crimean Tatar',
       'Croatian', 'Crow', 'Czech', 'Danish', 'Dari', 'Dinka', 'Dutch',
       'Dyula', 'Dzongkha', 'Eastern Frisian', 'Egyptian (Ancient)',
       'English', 'Esperanto', 'Estonian', 'Ewe', 'Faroese', 'Filipino',
       'Finnish', 'Flemish', 'French', 'French Sign Language', 'Frisian',
       'Fulah', 'Gallegan', 'Georgian', 'German', 'German Sign Language',
       'Greek', 'Greenlandic', 'Guarani', 'Gujarati', 'Gumatj', 'Haida',
       'Haitian', 'Hakka', 'Haryanvi', 'Hassanya', 'Hausa', 'Hawaiian',
       'Hebrew', 'Himachali', 'Hindi', 'Hmong', 'Hokkien', 'Hopi',
       'Hungarian', 'Ibo', 'Icelandic', 'Indian Sign Language',
       'Indonesian', 'Inuktitut', 'Irish', 'Italian', 'Japanese',
       'Japanese Sign Language', 'Kabuverdianu', 'Kabyle', 'Kalmyk-Oirat',
       'Kannada', 'Kashmiri', 'Kazakh', 'Khanty', 'Khmer', 'Kikuyu',
       'Kinyarwanda', 'Kirghiz', 'Kirundi', 'Klingon', 'Konkani',
       'Korean', 'Korean Sign Language', 'Kriolu', 'Kru', 'Kurdish',
       'Ladakhi', 'Ladino', 'Lao', 'Latin', 'Latvian', 'Lingala',
       'Lithuanian', 'Low German', 'Luxembourgish', 'Macedonian',
       'Maithili', 'Malay', 'Malayalam', 'Malinka', 'Maltese', 'Mandarin',
       'Mandingo', 'Maori', 'Mapudungun', 'Marathi', 'Mari',
       'Marshallese', 'Maya', 'Mende', 'Micmac', 'Middle English',
       'Min Nan', 'Minangkabau', 'Mirandese', 'Mixtec', 'Mohawk',
       'Mongolian', 'Montagnais', 'More', 'Nahuatl', 'Nama', 'Navajo',
       'Neapolitan', 'Nenets', 'Nepali', 'None', 'Norse',
       'North American Indian', 'Norwegian', 'Nyanja', 'Occitan',
       'Ojibwa', 'Old', 'Old English', 'Papiamento', 'Parsee', 'Pawnee',
       'Persian', 'Peul', 'Polish', 'Polynesian', 'Portuguese', 'Pular',
       'Punjabi', 'Purepecha', 'Pushto', 'Quechua', 'Quenya',
       'Raeto-Romance', 'Rajasthani', 'Rhaetian', 'Romanian', 'Romany',
       'Rotuman', 'Russian', 'Russian Sign Language', 'Ryukyuan', 'Saami',
       'Samoan', 'Sanskrit', 'Sardinian', 'Scanian', 'Scots',
       'Scottish Gaelic', 'Serbian', 'Serbo-Croatian', 'Shanghainese',
       'Shanxi', 'Shona', 'Shoshoni', 'Sicilian', 'Sign Languages',
       'Sindarin', 'Sindhi', 'Sinhalese', 'Sioux', 'Slovak', 'Slovenian',
       'Somali', 'Southern Sotho', 'Spanish', 'Spanish Sign Language',
       'Sranan', 'Swahili', 'Swedish', 'Swiss German', 'Syriac',
       'Tagalog', 'Tajik', 'Tamashek', 'Tamil', 'Tarahumara', 'Tatar',
       'Telugu', 'Teochew', 'Thai', 'Tibetan', 'Tigrigna', 'Tok Pisin',
       'Tonga', 'Tswana', 'Tulu', 'Tupi', 'Turkish', 'Turkmen', 'Tzotzil',
       'Uighur', 'Ukrainian', 'Ukrainian Sign Language', 'Ungwatsi',
       'Urdu', 'Uzbek', 'Vietnamese', 'Visayan', 'Washoe', 'Wayuu',
       'Welsh', 'Wolof', 'Xhosa', 'Yakut', 'Yiddish', 'Yoruba', 'Zulu'],
      dtype=object)

In [14]:
for e in arr:
    #mask = (movies_df['genre_1'] == e) or (movies_df['genre_2'] == e) or (movies_df['genre_3'] == e)
    mask = movies_df['lang_1'] == e
    mask2 = movies_df['lang_2'] == e
    mask3 = movies_df['lang_3'] == e
    mask4 = movies_df['lang_4'] == e
    #mask5 = movies_df['lang_5'] == e
    column_name = 'lang_'+e
    movies_df.loc[mask , column_name] = 1
    movies_df.loc[mask2 , column_name] = .75
    movies_df.loc[mask3 , column_name] = .50
    movies_df.loc[mask4 , column_name] = .25
    #movies_df.loc[mask5 , column_name] = 1

In [15]:
movies_df.loc[movies_df['lang_Yiddish']==1]

,imdb_title_id,title,year_mv,duration,genre_1,genre_2,genre_3,country_1,country_2,country_3,...,lang_Visayan,lang_Washoe,lang_Wayuu,lang_Welsh,lang_Wolof,lang_Xhosa,lang_Yakut,lang_Yiddish,lang_Yoruba,lang_Zulu
1169,tt0027231,Yidl mitn fidl,1936.0,92,Comedy,Musical,Romance,Poland,USA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1484,tt0030092,"Il Dibbuk, ovvero tra due mondi",1937.0,108,Drama,Fantasy,NaN,Poland,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1715,tt0032012,Tevya,1939.0,93,Drama,NaN,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
40538,tt6333086,Menashe,2017.0,82,Drama,NaN,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
57350,tt0107588,"Moi Ivan, toi Abraham",1993.0,105,Drama,NaN,NaN,France,Belarus,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [16]:
movies_df =movies_df.fillna(0)
movies_df

,imdb_title_id,title,year_mv,duration,genre_1,genre_2,genre_3,country_1,country_2,country_3,...,lang_Visayan,lang_Washoe,lang_Wayuu,lang_Welsh,lang_Wolof,lang_Xhosa,lang_Yakut,lang_Yiddish,lang_Yoruba,lang_Zulu
0,tt0000574,The Story of the Kelly Gang,1906.0,70,Biography,Crime,Drama,Australia,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,tt0001892,Den sorte drøm,1911.0,53,Drama,0,0,Germany,Denmark,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,tt0002101,Cleopatra,1912.0,100,Drama,History,0,USA,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,tt0002452,Independenta Romaniei,1912.0,120,History,War,0,Romania,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,tt0002461,Richard III,1912.0,55,Drama,0,0,France,USA,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86699,tt9905412,Ottam,2019.0,120,Drama,0,0,India,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86700,tt9905462,Pengalila,2019.0,111,Drama,0,0,India,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86701,tt9906644,Manoharam,2019.0,122,Comedy,Drama,0,India,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86702,tt9908390,Le lion,2020.0,95,Comedy,0,0,France,Belgium,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86703,tt9911196,De Beentjes van Sint-Hildegard,2020.0,103,Comedy,Drama,0,Netherlands,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
movies_df.pop('genre_1')
movies_df.pop('genre_2')
movies_df.pop('genre_3')
movies_df.pop('country_1')
movies_df.pop('country_2')
movies_df.pop('country_3')
movies_df.pop('country_4')
movies_df.pop('country_5')
movies_df.pop('lang_1')
movies_df.pop('lang_2')
movies_df.pop('lang_3')
movies_df.pop('lang_4')
movies_df.pop('lang_5')
movies_df

,imdb_title_id,title,year_mv,duration,avg_vote_f,genre_Action,genre_Adult,genre_Adventure,genre_Animation,genre_Biography,...,lang_Visayan,lang_Washoe,lang_Wayuu,lang_Welsh,lang_Wolof,lang_Xhosa,lang_Yakut,lang_Yiddish,lang_Yoruba,lang_Zulu
0,tt0000574,The Story of the Kelly Gang,1906.0,70,6.1,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,tt0001892,Den sorte drøm,1911.0,53,5.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,tt0002101,Cleopatra,1912.0,100,5.2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,tt0002452,Independenta Romaniei,1912.0,120,6.7,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,tt0002461,Richard III,1912.0,55,5.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86699,tt9905412,Ottam,2019.0,120,7.4,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86700,tt9905462,Pengalila,2019.0,111,8.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86701,tt9906644,Manoharam,2019.0,122,6.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86702,tt9908390,Le lion,2020.0,95,5.3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86703,tt9911196,De Beentjes van Sint-Hildegard,2020.0,103,7.7,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
movies_df.to_csv('newDataWeighted.csv',index=False)

In [19]:
movies_df['genre_1'].unique()

KeyError: 'genre_1'

In [ ]:
movies_df['genre_2'].unique()

In [ ]:
movies_df['genre_3'].unique()

In [ ]:
movies_df['country_1'].unique()

In [ ]:
movies_df['country_2'].unique()

In [ ]:
movies_df['lang_1'].unique()

In [ ]:
movies_df['lang_2'].unique()

In [ ]:
movies_df['lang_2'].unique()